global_defs {
   enable_script_security 1
   script_user {{ rthar_keepalived_script_user }}
}

vrrp_script check_{{ rthar_keepalived_script_check_cmd }} {
  script "/bin/pidof {{ rthar_keepalived_script_check_cmd }}"
  weight {{ rthar_keepalived_script_weight }}
  interval {{ rthar_keepalived_script_check_interval }}
}

vrrp_instance {{ rthar_keepalived_instance_name }} {
    state {{ rthar_keepalived_state }}
    interface {{ rthar_keepalived_interface }}
    virtual_router_id {{ rthar_keepalived_virtual_router_id }}
    priority {{ rthar_keepalived_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ rthar_keepalived_authentication_pass }}
    }

    unicast_src_ip {{ rthar_keepalived_unicast_src_address }}
    unicast_peer {
        {{ rthar_keepalived_unicast_peer }}
    }

    virtual_ipaddress {
        {{ rthar_keepalived_virtual_ip_address }}
    }

    track_script {
        check_{{ rthar_keepalived_script_check_cmd }}
    }
}
